{
    "openapi": "3.0.0",
    "info": {
        "title": "WoRMS REST webservice",
        "description": "The definitions and operations are listed below. Click on an operation name to view it's details, and test it.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://www.marinespecies.org/rest"
        }
    ],
    "paths": {
        "/AphiaChildrenByAphiaID/{ID}": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get the direct children (max. 50) for a given AphiaID",
                "description": "Get the direct children (max. 50) for a given AphiaID",
                "operationId": "AphiaChildrenByAphiaID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The AphiaID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "marine_only",
                        "in": "query",
                        "description": "Limit to marine taxa. Default=true",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "true"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Starting recordnumber, when retrieving next chunk of (50) records. Default=1",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRecord" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaClassificationByAphiaID/{ID}": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get the complete classification for one taxon. This also includes any sub or super ranks.",
                "description": "Get the complete classification for one taxon. This also includes any sub or super ranks.",
                "operationId": "AphiaClassificationByAphiaID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The AphiaID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": { "$ref" : "#/components/schemas/Classification" }
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    }
                }
            }
        },
        "/AphiaDistributionsByAphiaID/{ID}": {
            "get": {
                "tags": [
                    "Distributions"
                ],
                "summary": "Get all distributions for a given AphiaID",
                "description": "Get all distributions for a given AphiaID",
                "operationId": "AphiaDistributionsByAphiaID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The AphiaID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/Distribution" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaExternalIDByAphiaID/{ID}": {
            "get": {
                "tags": [
                    "External Identifiers"
                ],
                "summary": "Get any external identifier(s) for a given AphiaID",
                "description": "Get any external identifier(s) for a given AphiaID",
                "operationId": "AphiaExternalIDByAphiaID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The AphiaID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of external identifier to return. The type should be one of the following values:<br/><ul><li><u>algaebase</u>: Algaebase species ID</li><li><u>bold</u>: Barcode of Life Database (BOLD) TaxID</li><li><u>dyntaxa</u>: Dyntaxa ID</li><li><u>fishbase</u>: FishBase species ID</li><li><u>iucn</u>: IUCN Red List Identifier</li><li><u>lsid</u>: Life Science Identifier</li><li><u>ncbi</u>: NCBI Taxonomy ID (Genbank)</li><li><u>tsn</u>: ITIS Taxonomic Serial Number</li><li><u>gisd</u>: Global Invasive Species Database</li></ul>",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "tsn",
                            "enum": [
                                "algaebase",
                                "bold",
                                "dyntaxa",
                                "fishbase",
                                "iucn",
                                "lsid",
                                "ncbi",
                                "tsn",
                                "gisd"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"text/plain": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "type" : "string" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaIDByName/{ScientificName}": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get the AphiaID for a given name.",
                "description": "Get the AphiaID for a given name.\n\nOutput: NULL when no match is found; -999 when multiple matches are found; an integer (AphiaID) when one exact match was found",
                "operationId": "AphiaIDByName",
                "parameters": [
                    {
                        "name": "ScientificName",
                        "in": "path",
                        "description": "Name to search for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "marine_only",
                        "in": "query",
                        "description": "Limit to marine taxa. Default=true",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "true"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"text/plain": { 
                        		"schema": {
                           			 "type": "integer"
								}
							}
						}
                    },
                    "204": {
                        "description": "Nothing found"
                    },
                    "206": {
                        "description": "No content due to multiple results"
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    }
                }
            }
        },
        "/AphiaNameByAphiaID/{ID}": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get the name for a given AphiaID",
                "description": "Get the name for a given AphiaID",
                "operationId": "AphiaNameByAphiaID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The AphiaID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"text/plain": { 
                        		"schema": {
                           			 "type": "integer"
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaRecordByAphiaID/{ID}": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get the complete AphiaRecord for a given AphiaID",
                "description": "Get the complete AphiaRecord for a given AphiaID",
                "operationId": "AphiaRecordByAphiaID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The AphiaID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": { "$ref" : "#/components/schemas/AphiaRecord" }
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaRecordsByAphiaIDs": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get an AphiaRecord for multiple AphiaIDs in one go (max: 50)",
                "description": "Get an AphiaRecord for multiple AphiaIDs in one go (max: 50)",
                "operationId": "AphiaRecordsByAphiaIDs",
                "parameters": [
                    {
                        "name": "aphiaids[]",
                        "in": "query",
                        "description": "The AphiaIDs to search for",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRecord" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaRecordByExternalID/{ID}": {
            "get": {
                "tags": [
                    "External Identifiers"
                ],
                "summary": "Get the Aphia Record for a given external identifier",
                "description": "Get the Aphia Record for a given external identifier",
                "operationId": "AphiaRecordByExternalID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The external identifier to search for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of external identifier to search for. The type should be one of the following values:<br/><ul><li><u>algaebase</u>: Algaebase species ID</li><li><u>bold</u>: Barcode of Life Database (BOLD) TaxID</li><li><u>dyntaxa</u>: Dyntaxa ID</li><li><u>fishbase</u>: FishBase species ID</li><li><u>iucn</u>: IUCN Red List Identifier</li><li><u>lsid</u>: Life Science Identifier</li><li><u>ncbi</u>: NCBI Taxonomy ID (Genbank)</li><li><u>tsn</u>: ITIS Taxonomic Serial Number</li><li><u>gisd</u>: Global Invasive Species Database</li></ul>",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "tsn",
                            "enum": [
                                "algaebase",
                                "bold",
                                "dyntaxa",
                                "fishbase",
                                "iucn",
                                "lsid",
                                "ncbi",
                                "tsn",
                                "gisd"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": { "$ref" : "#/components/schemas/AphiaRecord" }
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaRecordsByDate": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Lists all AphiaRecords (taxa) that have their last edit action (modified or added) during the specified period",
                "description": "Lists all AphiaRecords (taxa) that have their last edit action (modified or added) during the specified period",
                "operationId": "AphiaRecordsByDate",
                "parameters": [
                    {
                        "name": "startdate",
                        "in": "query",
                        "description": "ISO 8601 formatted start date(time). Default=today(). i.e. 2022-02-02T01:21:53+00:00",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "enddate",
                        "in": "query",
                        "description": "ISO 8601 formatted end date(time). Default=today().i.e. 2022-02-02T01:21:53+00:00",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "marine_only",
                        "in": "query",
                        "description": "Limit to marine taxa. Default=true",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "true"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Starting recordnumber, when retrieving next chunk of (50) records. Default=1",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRecord" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaRecordsByMatchNames": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Try to find AphiaRecords using the TAXAMATCH fuzzy matching algorithm by Tony Rees",
                "description": "For each given scientific name (may include authority), try to find one or more AphiaRecords, using the TAXAMATCH fuzzy matching algorithm by Tony Rees.<br/>This allows you to (fuzzy) match multiple names in one call. Limited to 50 names at once for performance reasons",
                "operationId": "AphiaRecordsByMatchNames",
                "parameters": [
                    {
                        "name": "scientificnames[]",
                        "in": "query",
                        "description": "Names to search for",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "marine_only",
                        "in": "query",
                        "description": "Limit to marine taxa. Default=true",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "true"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRecordsArray" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaRecordsByName/{ScientificName}": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get one or more matching (max. 50) AphiaRecords for a given name",
                "description": "Get one or more matching (max. 50) AphiaRecords for a given name",
                "operationId": "AphiaRecordsByName",
                "parameters": [
                    {
                        "name": "ScientificName",
                        "in": "path",
                        "description": "Name to search for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "like",
                        "in": "query",
                        "description": "Add a '%'-sign added after the ScientificName (SQL LIKE function). Default=true",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "true"
                        }
                    },
                    {
                        "name": "marine_only",
                        "in": "query",
                        "description": "Limit to marine taxa. Default=true",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "true"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Starting recordnumber, when retrieving next chunk of (50) records. Default=1",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRecord" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaRecordsByNames": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "For each given scientific name, try to find one or more AphiaRecords",
                "description": "For each given scientific name, try to find one or more AphiaRecords. This allows you to match multiple names in one call. Limited to 500 names at once for performance reasons.",
                "operationId": "AphiaRecordsByNames",
                "parameters": [
                    {
                        "name": "scientificnames[]",
                        "in": "query",
                        "description": "Names to search for",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "like",
                        "in": "query",
                        "description": "Add a '%'-sign after the ScientificName (SQL LIKE function). Default=false",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "false"
                        }
                    },
                    {
                        "name": "marine_only",
                        "in": "query",
                        "description": "Limit to marine taxa. Default=true",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "true"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRecord" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaRecordsByVernacular/{Vernacular}": {
            "get": {
                "tags": [
                    "Vernaculars"
                ],
                "summary": "Get one or more Aphia Records (max. 50) for a given vernacular",
                "description": "Get one or more Aphia Records (max. 50) for a given vernacular",
                "operationId": "AphiaRecordsByVernacular",
                "parameters": [
                    {
                        "name": "Vernacular",
                        "in": "path",
                        "description": "The vernacular to find records for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "like",
                        "in": "query",
                        "description": "Add a '%'-sign before and after the input (SQL LIKE '%vernacular%' function). Default=false",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "false"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Starting recordnumber, when retrieving next chunk of (50) records. Default=1",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRecord" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaSynonymsByAphiaID/{ID}": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get all synonyms for a given AphiaID",
                "description": "Get all synonyms for a given AphiaID",
                "operationId": "AphiaSynonymsByAphiaID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The AphiaID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Starting recordnumber, when retrieving next chunk of (50) records. Default=1",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRecord" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaVernacularsByAphiaID/{ID}": {
            "get": {
                "tags": [
                    "Vernaculars"
                ],
                "summary": "Get all vernaculars for a given AphiaID",
                "description": "Get all vernaculars for a given AphiaID",
                "operationId": "AphiaVernacularsByAphiaID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The AphiaID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/Vernacular" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaSourcesByAphiaID/{ID}": {
            "get": {
                "tags": [
                    "Sources"
                ],
                "summary": "Get one or more sources/references including links, for one AphiaID",
                "description": "Get one or more sources/references including links, for one AphiaID",
                "operationId": "AphiaSourcesByAphiaID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The AphiaID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/Source" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaTaxonRanksByID/{ID}": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get taxonomic ranks by their identifier",
                "description": "Get taxonomic ranks by their identifier",
                "operationId": "AphiaTaxonRanksByID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "A taxonomic rank identifier. Default=-1",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": "-1"
                        }
                    },
                    {
                        "name": "AphiaID",
                        "in": "query",
                        "description": "The AphiaID of the kingdom",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRank" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaTaxonRanksByName/{taxonRank}": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get taxonomic ranks by their name",
                "description": "Get taxonomic ranks by their name",
                "operationId": "AphiaTaxonRanksByName",
                "parameters": [
                    {
                        "name": "taxonRank",
                        "in": "path",
                        "description": "A taxonomic rank. Default=empty",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "AphiaID",
                        "in": "query",
                        "description": "The AphiaID of the kingdom",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRank" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaRecordsByTaxonRankID/{ID}": {
            "get": {
                "tags": [
                    "Taxonomic data"
                ],
                "summary": "Get the AphiaRecords for a given taxonRankID (max 50)",
                "description": "Get the AphiaRecords for a given taxonRankID (max 50)",
                "operationId": "AphiaRecordsByTaxonRankID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "A taxonomic rank identifier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "belongsTo",
                        "in": "query",
                        "description": "Limit the results to descendants of the given AphiaID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": ""
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Starting recordnumber, when retrieving next chunk of (50) records. Default=1",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AphiaRecord" }
								}
							}
						}
                    },
                    "400": {
                        "description": "Bad or missing properties"
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaAttributeKeysByID/{ID}": {
            "get": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Get attribute definitions",
                "description": "Get attribute definitions. To refer to root items specify ID = '0'",
                "operationId": "AphiaAttributeKeysByID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The attribute definition id to search for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": "0"
                        }
                    },
                    {
                        "name": "include_children",
                        "in": "query",
                        "description": "Include the tree of children. Default=true",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "true"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AttributeKey" }
								}
							}
						}
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaAttributeValuesByCategoryID/{ID}": {
            "get": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Get list values that are grouped by an CateogryID",
                "description": "Get list values that are grouped by an CateogryID",
                "operationId": "AphiaAttributeValuesByCategoryID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The CateogryID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": "0"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/AttributeValue" }
								}
							}
						}
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaIDsByAttributeKeyID/{ID}": {
            "get": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Get a list of AphiaIDs (max 50) with attribute tree for a given attribute definition ID",
                "description": "Get a list of AphiaIDs (max 50) with attribute tree for a given attribute definition ID",
                "operationId": "AphiaIDsByAttributeKeyID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The attribute definition id to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Starting recordnumber, when retrieving next chunk of (50) records. Default=1",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/Attribute" }
								}
							}
						}
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        },
        "/AphiaAttributesByAphiaID/{ID}": {
            "get": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Get a list of attributes for a given AphiaID",
                "description": "Get a list of attributes for a given AphiaID",
                "operationId": "AphiaAttributesByAphiaID",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "The AphiaID to search for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "include_inherited",
                        "in": "query",
                        "description": "Include attributes inherited from the taxon its parent(s). Default=false",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "false"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
						"content" : { 
							"application/json": { 
                        		"schema": {
                           			 "type": "array",
                       			     "items": { "$ref" : "#/components/schemas/Attribute" }
								}
							}
						}
                    },
                    "204": {
                        "description": "Nothing found"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AphiaRecord": {
                "properties": {
                    "AphiaID": {
                        "description": "Unique and persistent identifier within WoRMS. Primary key in the database -- ",
                        "type": "integer",
                        "default": 127160
                    },
                    "url": {
                        "description": "HTTP URL to the AphiaRecord",
                        "type": "string"
                    },
                    "scientificname": {
                        "description": "the full scientific name without authorship",
                        "type": "string"
                    },
                    "authority": {
                        "description": "the authorship information for the scientificname formatted according to the conventions of the applicable nomenclaturalCode",
                        "type": "string"
                    },
                    "taxonRankID": {
                        "description": "the taxonomic rank identifier of the most specific name in the scientificname",
                        "type": "integer"
                    },
                    "rank": {
                        "description": "the taxonomic rank of the most specific name in the scientificname",
                        "type": "string"
                    },
                    "status": {
                        "description": "the status of the use of the scientificname (usually a taxonomic opinion). Additional technical statuses are (1) <u>quarantined</u>: hidden from public interface after decision from an editor and (2) <u>deleted</u>: AphiaID should NOT be used anymore, please replace it by the valid_AphiaID",
                        "type": "string"
                    },
                    "unacceptreason": {
                        "description": "the reason why a scientificname is unaccepted",
                        "type": "string"
                    },
                    "valid_AphiaID": {
                        "description": "the AphiaID (for the scientificname) of the currently accepted taxon. NULL if there is no currently accepted taxon.",
                        "type": "boolean"
                    },
                    "valid_name": {
                        "description": "the scientificname of the currently accepted taxon",
                        "type": "string"
                    },
                    "valid_authority": {
                        "description": "the authorship information for the scientificname of the currently accepted taxon",
                        "type": "string"
                    },
                    "parentNameUsageID": {
                        "description": "the AphiaID (for the scientificname) of the direct, most proximate higher-rank parent taxon (in a classification)",
                        "type": "integer"
                    },
                    "kingdom": {
                        "description": "the full scientific name of the kingdom in which the taxon is classified",
                        "type": "string"
                    },
                    "phylum": {
                        "description": "the full scientific name of the phylum or division in which the taxon is classified",
                        "type": "string"
                    },
                    "class": {
                        "description": "the full scientific name of the class in which the taxon is classified",
                        "type": "string"
                    },
                    "order": {
                        "description": "the full scientific name of the order in which the taxon is classified",
                        "type": "string"
                    },
                    "family": {
                        "description": "the full scientific name of the family in which the taxon is classified",
                        "type": "string"
                    },
                    "genus": {
                        "description": "the full scientific name of the genus in which the taxon is classified",
                        "type": "string"
                    },
                    "citation": {
                        "description": "a bibliographic reference for the resource as a statement indicating how this record should be cited (attributed) when used",
                        "type": "string"
                    },
                    "lsid": {
                        "description": "LifeScience Identifier. Persistent GUID for an AphiaID",
                        "type": "string"
                    },
                    "isMarine": {
                        "description": "a boolean flag indicating whether the taxon is a marine organism, i.e. can be found in/above sea water. Possible values: 0/1/NULL",
                        "type": "boolean"
                    },
                    "isBrackish": {
                        "description": "a boolean flag indicating whether the taxon occurrs in brackish habitats. Possible values: 0/1/NULL",
                        "type": "boolean"
                    },
                    "isFreshwater": {
                        "description": "a boolean flag indicating whether the taxon occurrs in freshwater habitats, i.e. can be found in/above rivers or lakes. Possible values: 0/1/NULL",
                        "type": "boolean"
                    },
                    "isTerrestrial": {
                        "description": "a boolean flag indicating the taxon is a terrestial organism, i.e. occurrs on land as opposed to the sea. Possible values: 0/1/NULL",
                        "type": "boolean"
                    },
                    "isExtinct": {
                        "description": "a flag indicating an extinct organism. Possible values: 0/1/NULL",
                        "type": "boolean"
                    },
                    "match_type": {
                        "description": "Type of match. Possible values: exact/like/phonetic/near_1/near_2",
                        "type": "string"
                    },
                    "modified": {
                        "description": "The most recent date-time in GMT on which the resource was changed",
                        "type": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "AphiaRecord",
                    "wrapped": false
                }
            },
            "AphiaRecordsArray": {
                "title": "AphiaRecords",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/AphiaRecord"
                },
                "xml": {
                    "name": "AphiaRecords",
                    "wrapped": true
                }
            },
            "Classification": {
                "title": "Classification",
                "properties": {
                    "AphiaID": {
                        "type": "integer",
                        "default": 126132
                    },
                    "rank": {
                        "type": "string"
                    },
                    "scientificname": {
                        "type": "string"
                    },
                    "child": {
                        "$ref": "#/components/schemas/Classification"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Classification",
                    "wrapped": false
                }
            },
            "Distribution": {
                "title": "Distribution",
                "properties": {
                    "locality": {
                        "description": "The specific description of the place",
                        "type": "string"
                    },
                    "locationID": {
                        "description": "An identifier for the locality. Using the Marine Regions Geographic IDentifier (MRGID), see <a href='https://www.marineregions.org/mrgid.php' target='_blank'>https://www.marineregions.org/mrgid.php</a>",
                        "type": "string"
                    },
                    "higherGeography": {
                        "description": "A geographic name less specific than the information captured in the locality term. Possible values: an IHO Sea Area or Nation, derived from the MarineRegions <a href='https://www.marineregions.org/gazetteer.php' target='_blank'>gazetteer</a>",
                        "type": "string"
                    },
                    "higherGeographyID": {
                        "description": "An identifier for the geographic region within which the locality occurred, using MRGID",
                        "type": "string"
                    },
                    "recordStatus": {
                        "description": "The status of the distribution record. Possible values are 'valid' ,'doubtful' or 'inaccurate'. See <a href='https://www.marinespecies.org/aphia.php?p=manual#topic8b' target=_blank>here</a> for explanation of the statuses",
                        "type": "string"
                    },
                    "typeStatus": {
                        "description": "The type status of the distribution. Possible values: 'holotype' or empty.",
                        "type": "string"
                    },
                    "establishmentMeans": {
                        "description": "The process by which the biological individual(s) represented in the Occurrence became established at the location. Possible values: values listed as Origin <a href='https://www.marinespecies.org/introduced/wiki/Traits:Origin' target=_blank>in WRiMS</a>",
                        "type": "string"
                    },
                    "decimalLatitude": {
                        "description": "The geographic latitude (in decimal degrees, WGS84)",
                        "type": "number"
                    },
                    "decimalLongitude": {
                        "description": "The geographic longitude (in decimal degrees, WGS84)",
                        "type": "number"
                    },
                    "qualityStatus": {
                        "description": "Quality status of the record. Possible values: 'checked', 'trusted' or 'unreviewed'. See <a href='https://www.marinespecies.org/aphia.php?p=manual#topic22' target='_blank'>https://www.marinespecies.org/aphia.php?p=manual#topic22</a>",
                        "type": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Distribution",
                    "wrapped": false
                }
            },
            "Vernacular": {
                "title": "Vernacular",
                "properties": {
                    "vernacular": {
                        "type": "string"
                    },
                    "language_code": {
                        "type": "string"
                    },
                    "language": {
                        "type": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Vernacular",
                    "wrapped": false
                }
            },
            "Source": {
                "title": "Source",
                "properties": {
                    "source_id": {
                        "description": "Unique identifier for the source within WoRMS -- ",
                        "type": "integer",
                        "default": 1
                    },
                    "use": {
                        "description": "Usage of the source for this taxon. See <a href='https://www.marinespecies.org/aphia.php?p=manual#topic6' target='_blank'>here</a> for all values",
                        "type": "string"
                    },
                    "reference": {
                        "description": "Full citation string",
                        "type": "string"
                    },
                    "page": {
                        "description": "Page(s) where the taxon is mentioned",
                        "type": "string"
                    },
                    "url": {
                        "description": "Direct link to the source record",
                        "type": "string"
                    },
                    "link": {
                        "description": "External link (i.e. journal, data system, etc..)",
                        "type": "string"
                    },
                    "fulltext": {
                        "description": "Full text link (PDF)",
                        "type": "string"
                    },
                    "doi": {
                        "description": "Digital Object Identifier",
                        "type": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Source",
                    "wrapped": false
                }
            },
            "AttributeKey": {
                "title": "AttributeKey",
                "properties": {
                    "measurementTypeID": {
                        "description": "An internal identifier for the measurementType",
                        "type": "integer",
                        "example": "4"
                    },
                    "measurementType": {
                        "description": "The nature of the measurement, fact, characteristic, or assertion <a href='https://www.marinespecies.org/traits/wiki' target='_blank'>https://www.marinespecies.org/traits/wiki</a>",
                        "type": "string",
                        "example": "Functional group"
                    },
                    "input_id": {
                        "description": "The data type that is expected as value for this attribute definition",
                        "type": "integer",
                        "example": "1"
                    },
                    "CategoryID": {
                        "description": "The category identifier to list possible attribute values for this attribute definition",
                        "type": "integer",
                        "example": "7"
                    },
                    "children": {
                        "description": "The possible child attribute keys that help to describe to current attribute",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AttributeKey"
                        },
                        "xml": {
                            "name": "children",
                            "wrapped": true
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "AttributeKey",
                    "wrapped": false
                }
            },
            "AttributeKeyWithValues": {
                "title": "AttributeKeyWithValues",
                "properties": {
                    "measurementTypeID": {
                        "description": "An internal identifier for the measurementType",
                        "type": "integer",
                        "example": "4"
                    },
                    "measurementType": {
                        "description": "The nature of the measurement, fact, characteristic, or assertion <a href='https://www.marinespecies.org/traits/wiki' target='_blank'>https://www.marinespecies.org/traits/wiki</a>",
                        "type": "string",
                        "example": "Functional group"
                    },
                    "possibleAttributeValues": {
                        "description": "The category definition that list possible attribute values for this attribute definition",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AttributeValue"
                        },
                        "xml": {
                            "name": "possibleAttributeValues",
                            "wrapped": true
                        }
                    },
                    "children": {
                        "description": "The possible child attribute keys that help to describe to current attribute",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AttributeKeyWithValues"
                        },
                        "xml": {
                            "name": "children",
                            "wrapped": true
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "AttributeKeyWithValues",
                    "wrapped": false
                }
            },
            "AttributeValue": {
                "title": "AttributeValue",
                "properties": {
                    "measurementValueID": {
                        "description": "An identifier for facts stored in the column measurementValue",
                        "type": "integer",
                        "example": "185"
                    },
                    "measurementValue": {
                        "description": "The value of the measurement, fact, characteristic, or assertion",
                        "type": "string",
                        "example": "macrobenthos"
                    },
                    "measurementValueCode": {
                        "description": "Additional info/code that helps to the describe/define the measurementValue",
                        "type": "string",
                        "example": ""
                    },
                    "children": {
                        "description": "Child measurementValues that are more specific",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AttributeValue"
                        },
                        "xml": {
                            "name": "children",
                            "wrapped": true
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "AttributeValue",
                    "wrapped": false
                }
            },
            "Attribute": {
                "title": "Attribute",
                "properties": {
                    "AphiaID": {
                        "description": "Unique and persistent identifier within WoRMS",
                        "type": "integer",
                        "example": "127160"
                    },
                    "measurementTypeID": {
                        "description": "The corresponding AttributeKey its measurementTypeID",
                        "type": "integer",
                        "example": "15"
                    },
                    "measurementType": {
                        "description": "The corresponding AttributeKey its measurementType",
                        "type": "string",
                        "example": "Body size"
                    },
                    "measurementValue": {
                        "description": "The value of the measurement, fact, characteristic, or assertion",
                        "type": "string",
                        "example": "70"
                    },
                    "source_id": {
                        "description": "The identifier for the AphiaSource for this attribute",
                        "type": "integer",
                        "example": "232308"
                    },
                    "reference": {
                        "description": "The AphiaSource reference for this attribute",
                        "type": "string",
                        "example": ""
                    },
                    "qualitystatus": {
                        "description": "Quality status of the record. Possible values: 'checked', 'trusted' or 'unreviewed'. See <a href='https://www.marinespecies.org/aphia.php?p=manual#topic22' target='_blank'>https://www.marinespecies.org/aphia.php?p=manual#topic22</a>",
                        "type": "string",
                        "example": "checked"
                    },
                    "CategoryID": {
                        "description": "The category identifier to list possible attribute values for this attribute definition",
                        "type": "integer",
                        "example": ""
                    },
                    "AphiaID_Inherited": {
                        "description": "The AphiaID from where this attribute is inherited",
                        "type": "integer",
                        "example": "126132"
                    },
                    "children": {
                        "description": "The possible child attributes that help to describe to current attribute",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Attribute"
                        },
                        "xml": {
                            "name": "children",
                            "wrapped": true
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Attribute",
                    "wrapped": false
                }
            },
            "AphiaAttributeSet": {
                "title": "AphiaAttributeSet",
                "properties": {
                    "AphiaID": {
                        "description": "Unique and persistent identifier within WoRMS. Primary key in the database",
                        "type": "integer",
                        "example": "127160"
                    },
                    "Attributes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Attribute"
                        },
                        "xml": {
                            "name": "Attributes",
                            "wrapped": true
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "AphiaAttributeSet",
                    "wrapped": false
                }
            },
            "AphiaRank": {
                "title": "AphiaRank",
                "properties": {
                    "taxonRankID": {
                        "description": "A taxonomic rank identifier",
                        "type": "integer",
                        "example": "220"
                    },
                    "taxonRank": {
                        "description": "A taxonomic rank name",
                        "type": "string",
                        "example": "species"
                    },
                    "AphiaID": {
                        "description": "AphiaID of the kingdom",
                        "type": "integer",
                        "example": "2"
                    },
                    "kingdom": {
                        "description": "The name of a taxonomic kingdom the rank is used in",
                        "type": "string",
                        "example": "Animalia"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "AphiaRank",
                    "wrapped": false
                }
            }
        }
    }
}
